.resizable-panels {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.resizable-panels-vertical {
  flex-direction: column;
}

.resizable-panels-horizontal {
  flex-direction: row;
}

.resizable-panel {
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.resizer {
  background-color: #E1E8ED;
  position: relative;
  z-index: 10;
  transition: background-color 0.2s;
}

.resizer-vertical {
  height: 4px;
  width: 100%;
  cursor: row-resize;
  flex-shrink: 0;
}

.resizer-horizontal {
  width: 4px;
  height: 100%;
  cursor: col-resize;
  flex-shrink: 0;
}

.resizer:hover {
  background-color: #3498DB;
}

.resizer.resizing {
  background-color: #2980B9;
}

.resizer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgba(52, 152, 219, 0.3);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}

.resizer:hover::before,
.resizer.resizing::before {
  opacity: 1;
}

.resizer-vertical::before {
  width: 40px;
  height: 4px;
  border-radius: 2px;
}

.resizer-horizontal::before {
  width: 4px;
  height: 40px;
  border-radius: 2px;
}

